#connexion{
	width: 38px;
	height: 34px;
}
#map{
	width: 100%;
	height: 300px;
}

#logo{
	float:left;
	margin-top:10px;
}
#cssmenu{
	float:left;
}

#service1{
	top:30px;
}
#service2{
	top:30px;
}
#service3{
	top:30px;
}
#service4{
	top:30px;
}
#image{
	width:100px;
	height:50px;
}