/* ------------------------- general */

body{
	background-color: #ddd;
}

.container{	
	box-shadow: 8px 8px 12px #aaa;
	background-color: white;
	width: 100%;
	height: 100%;
}
.row{
	margin : 3%;
}
table.first{
	margin-top: 70px;
}

table{
	margin-top: 20px;
	width: auto;
	height: auto;
}

td, th {
    padding: 15px;
}

input[type='text'], input[type='password'], input[type='email']{
	width: 260px;
}

form{
	padding-top: 10px;
}

.invalid{
	border-color: red !important;
}
/* ------------------------- connexion & inscription */
#connexion{
	margin-left: auto;
	margin-right: auto;
	width : 500px;		
}
#connexion > tr > td{
	margin-left: 10px;
}
#register{
	margin-left: auto;
	margin-right: auto;
	width : 500px;	
	padding-top: 10px;
}
#register > tr {
	margin-top: 10px;
}
/* ------------------------- home */
#map{
	width: 100%;
	height: 300px;
}
/* ------------------------- menu header */
#logo{
	float:left;
	margin-top:10px;
}
#cssmenu{
	float:left;
}
#cssmenu > ul > li.service{
	top:20px;
}
#image{
	width:100px;
	height:50px;
}

/* ------------------------- slider */

.slider{
	width: auto;
	height: auto;
	margin: auto;
}

.back_carousel{
	width: 77%;
	margin: 20px auto auto;
}
